body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0px 0 0 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    min-height: 100vh;
    background-color: #f4f4f9;
    overflow: hidden;
}

.form-container {
    width: 25%;
    overflow-y: auto;
    height: calc(100vh - 5px);
    padding: 20px;
    background-color: #d5d5d5;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.site-details {
    margin-bottom: 20px;
}

.site-details h2 {
    margin: 0;
    font-size: 1.5em;
}

.site-details p {
    margin: 5px 0;
}

.preview-section {
    width: 75%;
    height: calc(100vh - 5px);
    display: flex;
    flex-direction: column;
}

.controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.preview-container {
    flex-grow: 1;
    position: relative;
    padding: 20px;
    background-color: #333;
    color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow-y: auto;
}

label {
    display: block;
    margin-top: 10px;
}

input[type="text"], textarea, input[type="url"] {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

textarea {
    resize: vertical;
}

.preview-container.default {
    background-color: #333;
    color: #fff;
    border: 2px solid #fff;
}

.preview-container.light {
    background-color: #fff;
    color: #000;
    border: 2px solid #000;
}

.preview-container.dark {
    background-color: #000;
    color: #fff;
    border: 2px solid #fff;
}

.preview-container.darcula {
    background-color: #272935;
    color: #B6B7B6;
    border: 2px solid #EA72B7;
}

.preview-container.garden {
    background-color: #E9E7E7;
    color: #504F4F;
    border: 2px solid #291E00;
}

.preview-container.valentine {
    background-color: #F0D6E8;
    color: #8C5E6E;
    border: 2px solid #DBA0C9;
}

/* Add more theme styles as needed */

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin: 5px 0;
}

#preview-links a {
    margin-right: 10px;
    text-decoration: none;
    color: inherit;
} 